@media (max-width: 991px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                display: block;
                font-size: 17px;
            } 
        }
        &__phone {
            font-size: 17px;
        }
    }
    .button {
        width: 145px;
        height: 25px;
        font-size: 12px;
        &_main {
            width: 375px;
            height: 45px;
            font-size: 16px;
        }
        &_submit {
            width: 305px;
            height: 45px;
        }
    }
    .carousel {
        .slick-dots {
            display: flex;
            justify-content: center;
            li {
                list-style-type: none;
                margin-right: 20px;
                font-size: 0;
            }
            button {
                font-size: 0;
                border-radius: 50%;
                padding: 0;
                border: none;
                width: 15px;
                height: 15px;
                background-color: rgb(255, 238, 4);
            } 
        }
    }
}
@media (max-width: 767px) {
    .header {
		padding: 20px 35px;
    }
    .promo {
        &__wrapper {
            padding: 20px 35px;
        }
        &__header {
            margin: 0 0 0 0;
            font-size: 35px;
        }
        &__subheader {
            font-size: 15px;
            margin: 15px 0 5px 0;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .benefits {
        padding: 60px 0 55px 0;
    
        &__wrapper {
           
            margin: 60px 20px 0 20px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .container {
        max-width: 700px;
    }
    .consultation {
        padding: 15px 25px 0 25px;
    }
    .carousel__inner {
        width: 100%;
    }
    .catalog {
        .container {
            max-width: 605px;
            margin: 0 50px;
        }
    }
        
}
@media (max-width: 575px) {
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            font-size: 9px;
            span {
                font-size: 13px;
            }
            
        }
        &__phone {
            font-size: 11px;
        }
    } 
    .button {
        width: 130px;
        height: 20px;
        font-size: 9px;
        &_main {
            width: 360px;
            height: 40px;
            font-size: 14px;
            }
        &_submit {
            width: 305px;
            height: 45px;
            }
    }
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 10px;
            margin: 0 0;
        }
        &__icons {
            max-width: 340px;
            margin: 50px 0 0 0;
        }
        &__icon {
            font-size: 12px;
            img {
                margin-bottom: 7px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .benefits {
        padding: 50px 0 45px 0;
    
        &__wrapper {
            margin: 45px 15px 0 15px;
        }
        &__subtitle {
            margin: 23px 0 0 0;
            font-size: 13px;
        }
        &__descr {
            margin: 10px 0;
            font-size: 10px;
        }
    }
    
    .carousel__inner {
        width: 100%;
    }
    .catalog {
        .title{
            font-size: 23px;
        }
        .catalog__content {
            justify-content: center;
            margin-left: 10px;
        }
        &__tabs {
            padding: 0 30px 0 30px;
            flex-direction: column;
        }
        &__tab {
            margin: 10px 0;
        }
    }
    .feed {
        padding: 30px 0;
        .title{
            font-size: 23px;
        }
        &__blocks {
            padding: 30px 0 0 0; 
            img {
                width: 149px;
                height: 149px;      
            }
        }
        &__text {
            margin-left: 25px;
        }
        &__sub {
            font-size: 16px;
        }
        &__sub_title {
            font-size: 12px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}
@media (max-width: 505px) {
    .header {
        padding: 15px 10px;
        &__logo {
            width: 50%;
        }
        &__official {
            display: none;
            
        }
        &__phone {
            font-size: 12px;
        }
        &__contacts {
            width: 50%;
        }
    } 
    .button {
        width: 150px;
        height: 25px;
        font-size: 10px;
        &_main {
            width: 320px;
            height: 35px;
            font-size: 11px;
        }
        &_submit {
            width: 260px;
            height: 44px;
            font-size: 12px;
            }
    }
    .promo {
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 8px;
            margin: 0 0;
        }
        &__icons {
            max-width: 290px;
            margin: 40px 0 0 0;
        }
        &__icon {
            font-size: 10px;
            img {
                margin-bottom: 7px;
            }
        }
        &__link {
            font-size: 12px;
        }
    }    

    .benefits {
        .title {
            font-size: 20px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }  
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }  
    }  
    .container {
        max-width: 500px;
    }
    .consultation {
        .title_left {
            font-size: 20px;
        }
        &__descr {
            font-size: 13px;
            line-height: 20px;
        }
    } 
    .feed-form {
        margin-top: 26px;
        input {
            width: 260px;
            height: 44px;
            font-size: 12px;
        }
    } 
}