.feed {
    min-height: 950px;
    &__blocks {
        padding: 60px 0 0 0;
        display: flex;
        justify-content: center;  
        img {
            width: 169px;
            height: 169px;      
        }
    }
    &__text {
        margin-left: 61px;
    }
    &__sub {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        align-items: flex-end;
        color: #0D0D0D;
    }
    &__sub_title {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
        padding: 0 0 10px 0;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}